name: CI Workflow

on:
  push:
    branches: ["main", "master", "develop"]
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - run: go mod download
      - run: go test ./... -v
      - run: go vet ./...

  integration-e2e:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    environment: Development

    env:
      DATABASE_HOST: ${{ vars.DATABASE_HOST }}
      DATABASE_USER: ${{ secrets.DATABASE_USER }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      DATABASE_NAME: ${{ vars.DATABASE_NAME }}
      DATABASE_PORT: ${{ vars.DATABASE_PORT }}
      DATABASE_SSL_MODE: ${{ vars.DATABASE_SSL_MODE }}

      APP_ADDR: ${{ vars.APP_ADDR }}

      JWT_ACCESS_SECRET: ${{ secrets.JWT_ACCESS_SECRET }}
      JWT_VERIFICATION_SECRET: ${{ secrets.JWT_VERIFICATION_SECRET }}

      SMTP_HOST: ${{ vars.SMTP_HOST }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_SENDER: ${{ vars.SMTP_SENDER }}
      SMTP_EMAIL: ${{ secrets.SMTP_EMAIL }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}

      REDIS_HOST: ${{ vars.REDIS_HOST }}
      REDIS_PORT: ${{ vars.REDIS_PORT }}
      REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}

      TARGET_URL: ${{ vars.FRONTEND_URL }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - run: go mod download

      - name: Debug runtime env (safe)
        run: |
          echo "DATABASE_HOST=$DATABASE_HOST"
          echo "DATABASE_NAME=$DATABASE_NAME"
          echo "DATABASE_PORT=$DATABASE_PORT"
          echo "REDIS_HOST=$REDIS_HOST"
          echo "REDIS_PORT=$REDIS_PORT"

      - run: go run ./cmd/migrate
      - run: go test ./e2e -v
      - run: go vet ./...
      - run: go build ./cmd/api
